:root{
    font-size : 18px;
}

body {
    margin: 0;
    padding: 0;      
}

.container {
    display: flex;
    flex-direction: column;
    margin:0 ;
    font-family: "Open Sans"; 
      
}

.banner {
    display: flex;
    flex-direction: row;
    background: black;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    align-items: center;
    justify-content: center;
    margin:0;
}


.card{
    display: flex;
    flex-direction: column;
    margin: 2vw;
    /*width : 80vw;*/
}
.banner .about-me {
    margin : 5vw; 
    color: white;
    
}

.my-image {
    border: 1px solid white;
    border-radius: 50vw;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 15vw;
    height: 15vw;
}

.banner .heading {
    margin :2vw;
}

.banner .heading h1,h3 {
    margin : 0;
    padding : 0;
    color: white;
    /*width : 22vw;*/
}


.row {
    display: flex;
    flex-direction: column;
    margin:0 ;
    font-family: "Open Sans";
    align-items: center; 
        
}
.row h2 {
    font-size: 2rem;
    text-align: center;    
}

.row .paragraph {
    margin : 1vw 0 1vw 0;
    width : 100%;   
}


.icon-group {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;     
}


.tech-icon{
    width:12vw;
    padding: .5vw;
    margin : .5vw;
    transition : box-shadow .3s;
}

.tech-icon:hover{
    box-shadow: 0px 3px 20px 4px #2c2c2c;
}


.experiance{
    background-color: grey;
    padding: 2vw 10vw;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-details{
    width:16vw;
    padding: 0 1vw 1vw 1vw;
    margin : .5vw;
    border: 1px solid grey;
    transition : box-shadow .3s;
    
}
.project-details:hover{
    box-shadow: 0px 3px 20px 4px #2c2c2c;
}

.contact-icon{
    height:4vw;
    width:4vw;
    padding : 1vw;
    margin : .5vw;
}


    

